# StructureOceanMonument - WATER_BIOMES
public-f net.minecraft.world.gen.structure.StructureOceanMonument field_175802_d

# StructureOceanMonument - SPAWN_BIOMES
public-f net.minecraft.world.gen.structure.StructureOceanMonument field_186134_b

# WoodlandMansion - ALLOWED_BIOMES
public-f net.minecraft.world.gen.structure.WoodlandMansion field_191072_a

# MapGenScatteredFeature - ALLOWED_BIOMES
public-f net.minecraft.world.gen.structure.MapGenScatteredFeature field_75061_e

# GuiCreateWorld - selectedIndex
public net.minecraft.client.gui.GuiCreateWorld field_146331_K

# ChunkGeneratorHell - rand
public net.minecraft.world.gen.ChunkGeneratorHell field_185954_p

# GuiLabel - labels
public net.minecraft.client.gui.GuiLabel field_146173_k

# MinecraftServer - setUserMessage
public net.minecraft.server.MinecraftServer func_71192_d(Ljava/lang/String;)V

# WorldServer - createBonusChest
public net.minecraft.world.WorldServer func_73047_i()V

# GuiCreateWorld - worldSeed
public net.minecraft.client.gui.GuiCreateWorld field_146329_I

# WorldInfo - generatorOptions
public net.minecraft.world.storage.WorldInfo field_82576_c

# GuiLabel - width
public net.minecraft.client.gui.GuiLabel field_146167_a

# GuiLabel - height
public net.minecraft.client.gui.GuiLabel field_146161_f

# GuiListButton - localizationStr
protected net.minecraft.client.gui.GuiListButton field_175215_p

# GuiListButton - value
protected net.minecraft.client.gui.GuiListButton field_175216_o

# GuiListButton - buildDisplayString
protected net.minecraft.client.gui.GuiListButton func_175213_c()Ljava/lang/String;

# GuiPageButtonList - responder
protected net.minecraft.client.gui.GuiPageButtonList field_178076_z

# GuiPageButtonList - pages
protected net.minecraft.client.gui.GuiPageButtonList field_178078_x

# GuiPageButtonList - entries
protected net.minecraft.client.gui.GuiPageButtonList field_178074_u

# GuiPageButtonList - componentMap
protected net.minecraft.client.gui.GuiPageButtonList field_178073_v

# GuiPageButtonList - editBoxes
protected net.minecraft.client.gui.GuiPageButtonList field_178072_w

# GuiPageButtonList - populateComponents
protected net.minecraft.client.gui.GuiPageButtonList func_178069_s()V

# GuiPageButton - populateEntries
protected net.minecraft.client.gui.GuiPageButtonList func_178055_t()V

# GuiPageButtonList - createEntry
protected net.minecraft.client.gui.GuiPageButtonList func_178058_a(Lnet/minecraft/client/gui/GuiPageButtonList$GuiListEntry;IZ)Lnet/minecraft/client/gui/Gui;

# GuiPageButtonList - createButton
protected net.minecraft.client.gui.GuiPageButtonList func_178065_a(IILnet/minecraft/client/gui/GuiPageButtonList$GuiButtonEntry;)Lnet/minecraft/client/gui/GuiListButton;

# GuiPageButtonList - createSlider
protected net.minecraft.client.gui.GuiPageButtonList func_178067_a(IILnet/minecraft/client/gui/GuiPageButtonList$GuiSlideEntry;)Lnet/minecraft/client/gui/GuiSlider;

# GuiPageButtonList - createTextField
protected net.minecraft.client.gui.GuiPageButtonList func_178068_a(IILnet/minecraft/client/gui/GuiPageButtonList$EditBoxEntry;)Lnet/minecraft/client/gui/GuiTextField;

# GuiPageButtonList - createLabel
protected net.minecraft.client.gui.GuiPageButtonList func_178063_a(IILnet/minecraft/client/gui/GuiPageButtonList$GuiLabelEntry;Z)Lnet/minecraft/client/gui/GuiLabel;